.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1 {
  color: black;
  background: white;
  border: 1px solid green;
}

.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-top {
  margin-top: -10px;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-top::before {
  border-top: 8px solid green;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-top::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 6px;
}

.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-bottom {
  margin-top: 10px;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-bottom::before {
  border-bottom: 8px solid green;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-bottom::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-left {
  margin-left: -10px;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-left::before {
  border-left: 8px solid green;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-left::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: -6px;
  top: 50%;
  margin-top: -4px;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 6px;
}

.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-right {
  margin-left: 10px;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-right::before {
  border-right: 8px solid green;
}
.t829dbcee-17d8-480c-9dbd-be6c4eb44ed1.place-right::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: -6px;
  top: 50%;
  margin-top: -4px;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 6px;
}
