p {
  margin: 0;
}

:root {
}

.rtc-root {
  display: flex;
  justify-content: center;
}

.rtc-tooltip-container {
  position: relative;
  display: inline-block;
}

.rtc-tooltip-icon-container {
  border: 1px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* triangle initial state
    - width & height: 0 = sets element to take up zero space; allows to create triangles using borders
    - position: absolute = position to parent 
    - content: " " = forces before and after state to present the elements
*/

.rtc-tooltip-popup::before,
.rtc-tooltip-popup::after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
}

/* Creating a bordered triangle

    TRIANGLE STATES
    ::before 
    - controls background style (outer triangle)
    ::after
    - controls foreground style (inner triangle)

    BORDERS
    - borders builds outer and inner triangle

    SIZING
    - offset values evenly to set triangle positions to expose outer triangle; 
    this creates a border around the inner triangle

    POSITIONING
    - triangle starts at the left of the element
    - center triangle by setting: 
    -- left: 50% or right: 50%
    -- left: transform: translateX(-50%) or translateX(50%)
*/

/* green triangle background */
.rtc-tooltip-popup::before {
  border-bottom: 7px solid green;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

/* white triangle foreground */
.rtc-tooltip-popup::after {
  border-bottom: 7px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

/* body and content needs to add up to 100% of vw */
.rtc-tooltip-popup {
  position: absolute;
  width: 380px;
  margin-top: 10px;
  z-index: 999;

  left: 50%;
  transform: translateX(-50%);

  border: 1px solid green;
  border-radius: 3px;
  background: white;
}

.rtc-tooltip-popup-content {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  font-size: 12px;
  color: black;

  /* set max-height to trigger scroll */
  /* max-height: 50vh;
  overflow-y: auto; */
}
